<div class="comment" >
	<%= link_to "×", comment_path(comment), :method => :delete, :remote => true, :confirm => "Are you sure you want to remove this comment?", :disable_with => "×", :class => 'close' %>
	
	<h4> <%= image_tag(comment.user.avatar_url(:navbar), class: "img-circle") if comment.user.avatar? %> <%= comment.user.name %> </h4>
	<p><%= comment.body %></p>
</div>