
<div class ="row">
		<h1>How does it work</h1>
		<div class="col-sm-6 col-md-4 text-center">
		    <div class="thumbnail">
		      <h1><span class="glyphicon glyphicon-search"></span></h1>
		      <div class="caption">
		        <h3>Find Houses</h3>
		        <p>Search for a house that fits your needs</p>
		        <%= link_to "Search",  newsearch_path, class: "btn btn-large btn-primary" %>
		      </div>
		    </div>
  		</div>
		
		<div class="col-sm-6 col-md-4 text-center">
		    <div class="thumbnail">
		      <h1><span class="glyphicon glyphicon-home"></span></h1>
		      <div class="caption">
		        <h3>Add your house</h3>
		        <p>You can add your property for rent</p>
		        
		        <% if user_signed_in? %>
		       	<%= link_to "Add your house",  newhouse_path, class: "btn btn-large btn-primary" %>
		       	<% end %>
		      </div>
		    </div>
  		</div>

  		<div class="col-sm-6 col-md-4 text-center">
		    <div class="thumbnail">
		      <h1><span class="glyphicon glyphicon-user"></span></h1>
		      <div class="caption">
		        <h3>Verified Users</h3>
		        <p>Users from all over the world are renting their propery</p>
		        
		      </div>
		    </div>
  		</div>
	</div>
