<div class ="features">
<div class ="container">
<div class ="row">
		<h1>How does it work</h1>
		<div class="col-sm-6 col-md-4 text-center">
		    <div class="thumbnail">
		      <!--
		      <h1><span class="glyphicon glyphicon-search"></span></h1>
		      -->
		      <img src="http://1.bp.blogspot.com/-sHRhXwDFd-I/Ub_Q4oTi0hI/AAAAAAAABAw/mC_uTv1q54Q/s1600/beautiful-house-mansion-open-pool-Favim.com-177242.jpg" alt="SearchHouse" height="250" width="250" class ="img-circle">
		      <div class="caption">
		        <h3>Find A House</h3>
		        <h2>Search for a house that fits your needs</h2>
		        <%= link_to "Search",  newsearch_path, class: "btn btn-large btn-primary" %>
		      </div>
		    </div>
  		</div>
		
		<div class="col-sm-6 col-md-4 text-center">
		    <div class="thumbnail">
		      <img src="http://thechive.files.wordpress.com/2013/07/dream-houses-beautiful-34.jpg?w=500&h=500" alt="AddHouse" height="250" width="250" class ="img-circle">
		      <div class="caption">
		        <h3>Add your house</h3>
		        <h2>You can add your property for rent</h2>
		        
		        <% if user_signed_in? %>
		       	<%= link_to "Add your house",  newhouse_path, class: "btn btn-large btn-primary" %>
		       	<% end %>
		      </div>
		    </div>
  		</div>

  		<div class="col-sm-6 col-md-4 text-center">
		    <div class="thumbnail">
		       <img src="http://www.agatalipinska.com/images/o-mnie/Agata-zdjecia-na-strone.jpg" alt="AddHouse" height="250" width="250" class ="img-circle">
		      <div class="caption">
		        <h3>Verified Users</h3>
		        <h2>You can contact the owner directly and ask them for more information</h2>
		        
		      </div>
		    </div>
  		</div>
	</div>
</div>
</div>
